.ancients_about {
  width: auto;
}
.ancients_about_hero {
  border: 1px solid;
  padding-block-start: 3rem;
  padding-block-end: 3rem;
  padding-inline: 1rem;
  background-color: black;
  color: white;
}
.ancients_about_hero_left {
  margin-block-start: 4rem;
  text-align: center;
}
.ancients_about_hero_left h1 {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0;
  margin: 0;
}
.ancients_about_hero_left span {
  font-size: 2rem;
}
.ancients_about_hero_right {
  display: none;
}
.ancients_about_inner {
  padding-block-start: 2rem;
  padding-inline: 2rem;
}
.ancients_about_inner_intromssg {
  margin-block: 4rem;
}
.ancients_about_inner p {
  line-height: 1.8rem;
  font-size: 1rem;
  font-weight: 100;
}
.ancients_about_inner_menu {
  z-index: 4;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.ancients_about_inner_menu .fas {
  background-color: black;
  color: white;
  padding: 1rem;
}
.ancients_about_inner_menu .fas.menu-show {
  display: none;
}
.ancients_about_inner_menu .fas.menu-show.show {
  display: initial;
}
.ancients_about_inner_menu .fas.menu-hide {
  display: initial;
}
.ancients_about_inner_menu .fas.menu-hide.hide {
  display: none;
}
.ancients_about_inner_menu ul {
  position: absolute;
  bottom: 2rem;
  list-style: none;
  line-height: 0;
  color: white;
  z-index: -100;
  transition: all 0.5s;
  display: none;
}
.ancients_about_inner_menu ul.show {
  display: block;
  background-color: black;
  padding-inline: 1rem;
  line-height: 4rem;
}
.ancients_about_inner_menu ul.show span {
  width: 0;
  overflow: hidden;
}
.ancients_about_inner_menu ul.show :hover {
  width: auto;
}
.ancients_about_inner_menu ul.show .h {
  color: red;
}
.ancients_about_inner_menu ul.show .h:hover {
  background-color: black;
  padding: 1rem;
}
.ancients_about_inner_menu ul.show .t {
  color: yellow;
}
.ancients_about_inner_menu ul.show .t:hover {
  background-color: black;
  padding: 1rem;
}
.ancients_about_inner_menu ul.show .tm {
  color: green;
}
.ancients_about_inner_menu ul.show .tm:hover {
  background-color: black;
  padding: 1rem;
}
.ancients_about_inner_menu ul li {
  font-size: 1.1rem;
  font-weight: 100;
}
.ancients_about_inner_history {
  height: auto;
  padding-block: 1rem;
}
.ancients_about_inner_history h1 span {
  padding-block-end: 0.2rem;
  border-bottom: 2px solid;
}
.ancients_about_inner_history .images {
  display: flex;
  overflow-x: scroll;
}
.ancients_about_inner_history .images img {
  height: auto;
  width: 50%;
}
.ancients_about_inner_testi {
  height: auto;
}
.ancients_about_inner_testi_intro h1 {
  padding-inline: 0;
  padding-block-end: 0.2rem;
  border-bottom: 2px solid;
}
.ancients_about_inner_testi_inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  overflow-x: scroll;
}
.ancients_about_inner_testi_inner_inner {
  margin-block-end: 2rem;
  width: 100vw;
}
.ancients_about_inner_testi_inner_inner_left {
  display: flex;
}
.ancients_about_inner_testi_inner_inner_left p span {
  font-weight: 900;
  font-size: 1.2rem;
}
.ancients_about_inner_testi_inner_inner_left_commentors_info {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 1rem;
}
.ancients_about_inner_testi_inner_inner_left_commentors_info img {
  border-radius: 100%;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.ancients_about_inner_testi_inner_inner_left_commentors_info_commentors_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ancients_about_inner_testi_inner_inner_left_commentors_info_commentors_details h4 {
  font-size: 1px;
}
.ancients_about_inner_crew {
  padding-block: 4rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.ancients_about_inner_crew img {
  width: 100%;
}
.ancients_about_inner_crew_inner_left_socials i {
  font-size: 2rem;
}
.ancients_about_inner_crew_inner_left_socials .fa-whatsapp {
  color: green;
}
.ancients_about_inner_crew_inner_left_socials .fa-facebook {
  color: blue;
}
@media screen and (min-width: 777px) {
  .ancients_about_hero {
    padding-block-start: 3rem;
    padding-block-end: 3rem;
    padding-inline: 3rem;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    align-items: center;
    justify-content: space-between;
  }
  .ancients_about_hero_left {
    text-align: left;
  }
  .ancients_about_hero_left h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .ancients_about_hero_left span {
    font-size: 4rem;
  }
  .ancients_about_hero_right {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .ancients_about_hero_right i {
    font-size: 20rem;
    font-weight: 600;
  }
}/*# sourceMappingURL=about.css.map */