@import "/styles/index.css";
@import "/styles/nav.css";
@import "/styles/frontend.css";
@import "/styles/techcourse.css";
@import "/styles/contact.css";
@import "/styles/about.css";
@import "/styles/footer.css";
@import "/styles/signin.css";
@import "/styles/signup.css";
@import "/styles/testi.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    p {
        font-size: 1.2rem;
    }

    .btn {
        height: 3rem;
        width: 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        font-size: 1.3rem;
    }

    .btn:hover {
        transition: all 0.5s;
    }

    .btnpage {
        background-color: black;
        color: white;
        border: 0;
        height: 2rem;
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        font-size: 1rem;

        &.effect {
            background-color: white;
            transition: all 0.5s;
            color: black;
        }
    }

    .btnpage:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
        transition: all 0.5s;
    }

    i,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0;
        margin: 0;
    }

    input {
        padding-block: 1rem;
        width: 100%;
    }

    input,
    textarea {
        border-radius: 0.5rem;
        border: 0px;
        padding-inline: 0.7rem;
        width: 100%;
        padding-block: 0.7rem;
    }

    textarea {
        padding-block: 0.5rem;
        width: 100%;
    }

    input::placeholder,
    textarea::placeholder {
        transition: all 0.2s;
        font-size: inherit;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
    .tapped {
        border: 1px solid;
    }
    .tapped::placeholder {
        color: black;
        font-size: 1.2rem;
        transition: all 0.2s;
    }

    a {
        text-decoration: none;
        color: black;
    }
}
html {
    padding: 0;
    img {
        width: 100%;
        height: auto;
    }
    body {
        padding: 0;
        margin: 0;
    }
}
