.ancients {
    &_footer {
        background-color: black;
        color: white;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-block: 1rem;
        padding-inline: 1rem;
        gap: 1.5rem;
        a {
            color: white;
        }

        &_bottom {
            text-align: center;
            span {
                padding-inline: 0.5rem;
                border-right: 1px solid;
                text-transform: capitalize;
            }

            span:last-child {
                border-right: 0;
            }
        }

        &_inner {
            display: grid;
            align-items: center;
            gap: 2.5rem;
            &_left {
                align-items: center;
                display: flex;
                flex-direction: column;
                .btn {
                    border: 1px solid white;
                    padding-block: 1rem;
                    color: white;
                    transition: 0.5s ease;
                }

                .btn:hover {
                    border: 1px solid black;
                    color: black;
                    transition: 0.5s ease;
                    background-color: white;
                }

                text-align: center;
                p {
                    font-weight: 0;
                    font-size: 1.1rem;
                }

                &_logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;

                    h1 {
                        font-size: 1.5rem;
                    }

                    i {
                        font-size: 2rem;
                    }
                }
            }

            &_middle {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.4rem;
                div {
                    display: grid;
                    align-items: center;
                    text-align: center;
                    gap: 0.6rem;
                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0.5rem;

                        li {
                            font-size: 1.1rem;
                            font-weight: 200;
                        }
                    }
                }
            }

            &_right {
                display: grid;
                justify-content: center;
                padding-block: 0.5rem;

                .btn {
                    border: 1px solid white;
                    padding-block: 1rem;
                    color: white;
                }

                .btn:hover {
                    border: 1px solid black;
                    color: black;
                    background-color: white;
                }
            }
        }

        @media screen and (min-width: 777px) {
            &_inner {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                height: 40%;
                justify-content: center;
                &_left {
                    padding-block: 0.5rem;
                    gap: 1rem;
                    align-items: start;
                    text-align: left;
                    align-items: start;
                }

                &_middle {
                    padding-block: 0.5rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    align-items: start;
                    ul {
                        text-align: left;
                    }
                }
            }
        }
    }
}
