.ancients {
    width: auto;

    &_apology_message {
        i {
            cursor: pointer;
        }

        &.hide {
            display: none;
        }

        background-color: white;
        display: flex;
        -webkit-backdrop-filter: blur(24px);
        backdrop-filter: blur(24px);
        position: fixed;
        padding-inline: 2rem;
        padding-block-start: 2rem;
        z-index: 4;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;


        .fa-am-x {
            font-size: 2rem;
        }

        p {
            line-height: 4rem;
            height: 100vh;
            font-size: 3rem;

            a {
                text-decoration: none;
                background-color: gray;
                border-radius: 30px;
                padding-inline: 10px;
                font-size: 2.3rem;
                color: white;
                cursor: pointer;
                font-family: 'Courier New', Courier, monospace;
            }
        }
    }

    @media screen and (min-width: 777px) {
        width: 100%;

        &_apology_message {
            justify-content: space-between;

            p {
                line-height: 5rem;

                li {
                    font-weight: 900;
                    font-size: 1.5rem;
                }

                font-size: 5rem;

                a {
                    font-size: 3rem;
                }

            }
        }
    }

    &_inner {
        padding-block: 4rem;

        @media screen and (min-width: 777px) {
            padding-block-start: 1rem;
        }

        i {
            cursor: pointer;
        }

        padding-inline: 2rem;

        &_top {
            display: grid;
            gap: 2rem;

            &_header {
                text-align: center;
                font-size: 1.6rem;

            }

            span {
                font-weight: 600;
            }

            h4 {
                text-align: center;
                font-size: 1.6rem;
                margin: 0;
            }

            p {
                line-height: 2rem;
                font-size: 1.2rem;
            }
        }

        &_middle {
            padding-block: 4rem;
            @media screen and (min-width:777px) {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                justify-content: center;
                align-items: first baseline;
                gap: 1rem;
            }

            &_header {
                display: flex;
                align-items: center;
                gap: 1rem;

                h1 {
                    font-size: 2rem;
                }

                .fa-chevron-down {
                    display: none;

                    &.show {
                        display: block;
                    }

                }

                .fa-chevron-up {
                    display: block;

                    &.hide {
                        display: none;
                    }
                }
            }
        }

        ul {
            display: none;

            li {
                font-size: 1.3rem;
            }

            &.show {
                display: block;
                line-height: 4rem;
            }
        }

        &_more {
            text-align: center;

        }
    }
}