.ancients {
    &_home {
        padding-block-start: 3rem;
        width: auto;
        &_hero {
            &_left {
                margin-block-start: 4rem;
                h1{
                    font-size: 2rem;
                }
                span {
                    font-size: 4rem;
                }
            }

            &_right {
                display: none;
            }
        }
        @media screen and (min-width:777px) {
            padding-inline: 3rem;

            &_hero {

                display: flex;
                align-items: center;
                justify-content: space-between;

                &_left {
                    h1 {
                        font-size: 2rem;
                    }

                    span {
                        font-size: 4rem;
                    }
                }

                &_right {
                    display: block;

                    i {
                        font-size: 30rem;
                    }
                }
            }
        }


    }
}