.ancients {

    .signup,
    .signin {


        &.active {
            color: white;
            padding-inline: 0.5rem;
            padding-block: 0.5rem;
            border-radius: 1rem;
            background-color: black;
        }
    }

    .home,
    .about,
    .tech,
    .contact {


        &.active {
            color: white;
            padding-inline: 0.5rem;
            padding-block: 0.5rem;
            border-radius: 1rem;
            background-color: black;
        }
    }

    height: 200vh;

    &_nav {
        top: 0;
        position: sticky;
        right: 0;
        left: 0;
        top: 0;
        background-color: white;

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: black;
        }

        &_left {
            i {
                font-size: 2rem;
                cursor: pointer;
            }
        }

        @media screen and (min-width:777px) {
            padding-inline: 1rem;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            align-items: center;

            ul {
                align-items: center;
                display: flex;

                li {
                    padding: 0;
                    margin: 0;
                }
            }

            &_right {
                ul {
                    gap: 3rem;
                    justify-content: center;

                    li {}
                }
            }

            &_last {
                ul {
                    gap: 0.5rem;
                    justify-content: right;
                }
            }
        }
    }

    &_home {
        padding-block-start: 3rem;

        @media screen and (min-width:777px) {
            padding-inline: 3rem;

            &_hero {

                display: flex;
                align-items: center;
                justify-content: space-between;

                &_left {
                    h1 {
                        font-size: 2rem;
                    }

                    span {
                        font-size: 4rem;
                    }
                }

                &_right {

                    i {
                        font-size: 30vw;
                    }
                }
            }
        }

        &_hero {

            display: flex;
            align-items: center;
            justify-content: space-between;

            &_left {
                span {
                    font-size: 4rem;
                }
            }

            &_right {

                i {
                    font-size: 30vw;
                }
            }
        }
    }
}