.ancients {
    &_signin {
        text-align: center;
        padding-block-start: 8rem;
        padding-inline: 2rem;
        // text-align: center;
        // padding-inline: 2rem;
        // height: 100vh;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        &_inner {
            padding-block-start: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                width: 100%;
                padding-block: 0.7rem;
                padding-inline: 0.5rem;
                background-color: white;

            }
            #email{
                text-transform: lowercase;
            }
            #email::placeholder{
                text-transform: capitalize;
            }
        }



        @media screen and (min-width:777px) {
            padding-inline: 25rem;
        }
    }
}