.ancients {
    height: auto;

    &_signup {
        height: 100vh;
p{
    font-size: 0.9rem;
}
        #email {
            text-transform: lowercase;
        }

        #email::placeholder {
            text-transform: capitalize;
        }

        @media screen and (max-width: 776px) {
            overflow-y: hidden;
            width: 100vw;

            &_inner {
                display: grid;
                grid-template-columns: 1.5fr;

                &_left {
                    height: 90vh;

                    &_inner {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100vh;

                        &_hb {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            padding: 2rem 0rem 0rem 2rem;

                            .fa-sun {
                                font-size: 1.5rem;
                            }

                            .home {
                                padding: 0.5rem;
                                height: 1rem;
                                width: 1rem;
                                border-radius: 5rem;
                                font-size: 1rem;
                                background-color: white;
                                color: black;
                            }

                            .home:hover {
                                font-size: 0.1rem;
                                background-color: black;
                                color: white;
                            }
                        }

                        &_form {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            &_header {
                                .fa-sun {
                                    font-size: 3rem;
                                }
                            }
                            h3 {
                                font-size: 1.3rem;
                                font-weight: normal;
                            }

                            form {
                                display: flex;
                                gap: 2rem;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
                            }

                            &_inner {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 1rem;
                                padding-block-start: 2rem;
                            }
                        }
                    }
                }

                &_right {
                    display: none;
                }
            }
        }

        @media screen and (min-width: 777px) {
            overflow-y: hidden;
            width: 100vw;

            &_inner {
                display: grid;
                grid-template-columns: 2fr 1.5fr;

                &_left {
                    height: 100%;
                    width: 100%;
                    &_inner {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100vh;

                        &_hb {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            padding: 2rem 0rem 0rem 2rem;

                            .fa-sun {
                                font-size: 1.5rem;
                            }

                            .home {
                                padding: 0.5rem;
                                height: 1rem;
                                width: 1rem;
                                border-radius: 5rem;
                                font-size: 1rem;
                                background-color: white;
                                color: black;
                            }

                            .home:hover {
                                font-size: 0.1rem;
                                background-color: black;
                                color: white;
                            }
                        }

                        &_form {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            &_header {
                                .fa-sun {
                                    font-size: 3rem;
                                }
                            }

                            h3 {
                                font-size: 1.3rem;
                                font-weight: normal;
                            }

                            form {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 2rem;
                                width: 100%;
                            }

                            &_inner {
                                padding-block: 2rem;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 1rem;
                            }
                        }
                    }
                }

                &_right {
                    background-color: black;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 20rem;
                    }
                }
            }
        }
    }
}
