.ancients_techcourses {
  width: auto;
}
.ancients_techcourses_hero {
  border: 1px solid;
  padding-block-start: 3rem;
  padding-block-end: 3rem;
  padding-inline: 1rem;
  background-color: black;
  color: white;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ancients_techcourses_hero_left {
  margin-block-start: 4rem;
  text-align: center;
}
.ancients_techcourses_hero_left h1 {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0;
  margin: 0;
}
.ancients_techcourses_hero_left span {
  font-size: 2rem;
}
.ancients_techcourses_hero_right {
  display: none;
}
.ancients_techcourses_inner {
  padding-block-start: 2rem;
  padding-inline: 2rem;
}
.ancients_techcourses_inner p {
  line-height: 1.8rem;
  font-size: 1rem;
  font-weight: 100;
}
.ancients_techcourses_inner_welmessage {
  margin-block-end: 4rem;
}
.ancients_techcourses_inner_welmessage_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 4rem;
}
.ancients_techcourses_inner_welmessage_inner_left, .ancients_techcourses_inner_welmessage_inner_right {
  text-align: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}
.ancients_techcourses_inner_welmessage_inner_left p, .ancients_techcourses_inner_welmessage_inner_right p {
  line-height: normal;
}
.ancients_techcourses_inner_welmessage_inner_left h1, .ancients_techcourses_inner_welmessage_inner_right h1 {
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}
.ancients_techcourses_inner_techcourses {
  margin-block-start: 4rem;
  margin-block-end: 4rem;
}
.ancients_techcourses_inner_techcourses_inner {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-block: 3rem;
}
.ancients_techcourses_inner_techcourses_inner_inner {
  padding-block: 1rem;
  display: flex;
  align-items: start;
}
.ancients_techcourses_inner_techcourses_inner_inner_left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.ancients_techcourses_inner_techcourses_inner_inner_left_top {
  display: flex;
  align-items: stretch;
  gap: 1rem;
}
.ancients_techcourses_inner_techcourses_inner_inner_left_top img {
  width: 10rem;
}
.ancients_techcourses_inner_techcourses_inner_inner_left_top_inner_last p span {
  font-weight: 900;
  font-size: 1rem;
}
.ancients_techcourses_inner_techcourses_inner_inner_left_bottom {
  text-align: center;
}
.ancients_techcourses_inner_techcourses_inner_inner_right {
  display: none;
}
@media screen and (min-width: 777px) {
  .ancients_techcourses_hero {
    padding-block-start: 3rem;
    padding-block-end: 3rem;
    padding-inline: 3rem;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    align-items: center;
    justify-content: space-between;
  }
  .ancients_techcourses_hero_left {
    text-align: left;
  }
  .ancients_techcourses_hero_left h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .ancients_techcourses_hero_left span {
    font-size: 4rem;
  }
  .ancients_techcourses_hero_right {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .ancients_techcourses_hero_right i {
    font-size: 20rem;
    font-weight: 600;
  }
  .ancients_techcourses_inner {
    padding-inline: 4rem;
  }
  .ancients_techcourses_inner p {
    line-height: 1.8rem;
    font-size: 1.1rem;
    font-weight: 100;
  }
  .ancients_techcourses_inner_techcourses {
    padding-block: 4rem;
    padding-inline: 4rem;
  }
  .ancients_techcourses_inner_techcourses_inner {
    align-items: center;
    justify-content: center;
  }
  .ancients_techcourses_inner_techcourses_inner_inner {
    padding-inline: 2rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3rem;
    align-items: start;
  }
  .ancients_techcourses_inner_techcourses_inner_inner_left_top_last p span {
    font-weight: 900;
    font-size: 1.2rem;
  }
  .ancients_techcourses_inner_techcourses_inner_inner_right {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }
  .ancients_techcourses_inner_techcourses_inner_inner_right i {
    font-size: 16rem;
    font-weight: 600;
  }
}/*# sourceMappingURL=techcourse.css.map */