.ancients {
    &_home {
        &_inner {
            &_testi {
                display: grid;
                grid-template-rows: 0.4fr 1fr;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                &_intro {
                    h1 {
                        padding-inline: 0;
                        padding-block-end: 0.2rem;
                        border-bottom: 2px solid;
                    }
                }
                &_inner {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    .hide {
                        display: none;
                    }
                    &_comment {
                        display: flex;
                        gap: 1rem;
                        justify-content: center;
                        height: 100%;
                        &_left {
                            img {
                                width: 4rem;
                                height: 4rem;
                                border-radius: 50%;
                            }
                        }
                        &_right {
                            display: grid;
                            grid-template-rows: 0.4fr 1fr;
                            &_top {
                                display: grid;
                                gap: 0.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
    &_about {
        &_inner {
            &_testi {
                display: grid;
                grid-template-rows: 0.4fr 1fr;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                &_intro {
                    h1 {
                        padding-inline: 0;
                        padding-block-end: 0.2rem;
                        border-bottom: 2px solid;
                    }
                }
                &_inner {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    .hide {
                        display: none;
                    }
                    &_comment {
                        display: flex;
                        gap: 1rem;
                        justify-content: center;
                        height: 100%;
                        &_left {
                            img {
                                width: 4rem;
                                height: 4rem;
                                border-radius: 50%;
                            }
                        }
                        &_right {
                            display: grid;
                            grid-template-rows: 0.4fr 1fr;
                            &_top {
                                display: grid;
                                gap: 0.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
